@import '../../style/config.base.scss';
$title_back_color: #b1b1b1; // 标题背景色
$tree_node_border: solid 1px #afcd50; // 父元素边框
$tree_border_color: #afcd50; // 连线边框
$item_back_color: #fff; // 节点基础背景色
$spouse_border: solid 1px pink; // 母系边框背景色
